* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.md text eol=lf
*.ipynb text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ini text eol=lf
*.xml text eol=lf
*.sumocfg text eol=lf
*.txt text eol=lf
*.pdf binary
*.png binary
